@model PhoneStore.Models.PhoneModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form asp-action="AddPhone" method="POST">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputgroup-sizing-default">Brand</span>
        </div>
        <input asp-for="Brand" type="text" class="form-control" aria-label="default" aria-describedby="inputgroup-sizing-default">

        <div class="input-group-prepend">
            <span class="input-group-text" id="inputgroup-sizing-default">Model</span>
        </div>
        <input asp-for="Model" type="text" class="form-control" aria-label="default" aria-describedby="inputgroup-sizing-default">

        <div class="input-group-prepend">
            <span class="input-group-text" id="inputgroup-sizing-default">Price</span>
        </div>
        <input asp-for="Price" type="number" min="0.00" step="0.01" class="form-control" aria-label="default" aria-describedby="inputgroup-sizing-default">
        <div class="input-group-append">
            <span class="input-group-text">$</span>
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">Add</button>
</form>